/*!
 * Base Style
 * Created By Tillal Saeed
 */
@font-face {
  font-family: 'Helvatic';
  src: url("../fonts/Helvetica.ttf");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvatic';
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul, ol {
  list-style: none;
}

a:focus {
  outline: none;
  border: none;
}

.scroll-downs {
  position: fixed;
  right: 0px;
  bottom: 30px;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
  z-index: 999;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #cfcfcf;
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

.button {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-grey {
  color: #fff;
  background: #4B5563;
  border-radius: .5rem;
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem 2rem;
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.button-grey:hover, .button-grey:focus, .button-grey:active {
  background: #FE3D3A;
  color: #fff;
}

.button-plain {
  font-size: 14px;
  color: #000;
  padding: 1rem 2rem;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.button-plain:hover, .button-plain:focus, .button-plain:active {
  color: #FE3D3A;
}

.button-border {
  background: #fff;
  padding: 1rem 2rem;
  color: #2B96FC;
  border-radius: .5rem;
  border: 1px solid #2B96FC;
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.button-border:hover, .button-border:focus, .button-border:active {
  background: #2B96FC;
  color: #fff;
}

.button-blue {
  background: #5D33F5;
  color: #fff;
  padding: 10px 20px;
  border-radius: .5rem;
  -webkit-transition: color .3s linear, background .3s linear;
  transition: color .3s linear, background .3s linear;
}

.button-blue:hover, .button-blue:focus, .button-blue:active {
  background: #2B96FC;
  color: #fff;
}

.heading__primary h4 {
  display: block;
  color: #000;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.heading__primary h2 {
  font-size: 4rem;
  color: #000;
  line-height: 5.2rem;
}

.header {
  background-color: #EFF4FF;
  padding: 4rem 0 0 0;
  position: relative;
}

.header__main {
  padding-bottom: 5rem;
}

.header__main .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

.header ul li {
  display: inline-block;
}

.header ul li:not(:last-child) {
  margin-right: 3rem;
}

.header ul li a {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #000;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.header ul li a:hover, .header ul li a:focus, .header ul li a:active {
  color: #FE3D3A;
}

.header__button {
  text-align: right;
}

.header__button a:not(:last-child) {
  margin-right: 2rem;
}

.header__button .logo__img {
  width: 160px;
  height: 48px;
}

.header .hero {
  position: relative;
  z-index: 999;
}

.header .hero__block {
  max-width: 57rem;
  padding: 1.5rem;
}

.header .hero__block h1 {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 300;
}

@media only screen and (max-width: 767px) {
  .header .hero__block h1 {
    font-size: 3rem;
    line-height: 4.2rem;
  }
  .header .hero__block h1 br {
    display: none !important;
  }
}

.header .hero__block h1 b {
  font-weight: bold;
}

.header .hero__block p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header .hero__button a:not(:last-child) {
  margin-right: 2rem;
}

@media only screen and (max-width: 480px) {
  .header .hero__button a:not(:last-child) {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .header .hero__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
}

.header .hero__img {
  max-width: 53.6rem;
  width: 100%;
  height: auto;
}

.header .shape {
  width: 100%;
  position: absolute;
  height: 180px;
  background: #fff;
  bottom: 0px;
  left: 0;
  z-index: 10;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
}

.header ul.navbar-nav.ml-auto {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .bg-light {
  background: transparent !important;
}

.header a.navbar-brand {
  margin-right: 0px !important;
}

@media only screen and (max-width: 992px) {
  .header ul.navbar-nav.ml-auto {
    background: #fff;
    margin-top: 10px;
  }
  .header ul.navbar-nav.ml-auto li a {
    padding: 10px !important;
  }
  .header ul.navbar-nav.ml-auto li {
    padding: 10px;
    margin: 0px !important;
    text-align: left;
    border-bottom: 1px solid #fafafa;
  }
  .header ul.navbar-nav.ml-auto li a {
    font-size: 18px;
    text-align: left !important;
  }
  .header ul.navbar-nav.ml-auto li:hover a {
    color: #fff !important;
  }
  .header ul.navbar-nav.ml-auto li:hover {
    background: #ee4e34 !important;
  }
  .header .navbar {
    margin-bottom: 3rem;
  }
  .header__button a {
    display: block;
    background: #fff;
    border-radius: 0px;
    margin: 0px !important;
    color: #000;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #fafafa;
  }
  .header a.button.button-plain:hover {
    background: #ee4e34;
    color: #fff;
  }
}

.footer {
  padding: 6rem 0;
  background-color: #EFF4FF;
}

.footer .mt-10 {
  margin-top: 2rem;
}

.footer .copyright {
  color: #6B7280;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.footer .footer__title {
  font-size: 24px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  color: #000;
  margin-bottom: 1rem;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.footer__item h3 {
  font-size: 1.4rem;
  color: #6B7280;
}

.footer__item p {
  font-size: 12px;
  color: #6B7280;
}

.footer__block h4 {
  font-size: 14px;
  color: #6B7280;
  font-weight: 200;
  margin: 0px;
  padding: .3rem 0;
}

.footer__block h4 a {
  color: #6B7280;
  text-decoration: none;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.footer__block h4 a:hover, .footer__block h4 a:focus, .footer__block h4 a:active {
  color: #000;
}

.footer__block h4 b {
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  .footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .row .col-md-3,
  .footer .row .col-md-7,
  .footer .row .col-md-2 {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .footer br {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__item {
    border-bottom: 1px solid #6B7280;
  }
}

.solutions {
  padding: 8rem 1rem;
}

.solutions__box {
  margin-top: 6rem;
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .solutions .col-md-4 {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-width: 50%;
  }
}

.sitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 6rem;
}

.sitem__block {
  max-width: 282px;
}

@media only screen and (max-width: 767px) {
  .sitem__block {
    max-width: 100% !important;
  }
}

.sitem__block h4 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #000;
}

.sitem__block p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #000;
}

.services {
  padding: 8rem;
}

.services:nth-child(even) {
  background: #F5F5F5;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .services:nth-child(odd) .services__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 600px) {
  .services {
    padding: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

.services__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .services__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.services__block {
  max-width: 653px;
  width: 100%;
  padding-left: 6rem;
}

@media only screen and (max-width: 600px) {
  .services__block {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.services__block h3 {
  color: #000;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.services__block p {
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #000000;
}

.services__img {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .services .col-md-4,
  .services .col-md-8 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
  }
}

.events {
  background: url("../images/event_bg.png");
  background-size: cover !important;
  background-position: center center !important;
  padding: 8rem 0;
}

.events .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.events h2 {
  color: #fff;
  margin-bottom: 4rem;
}

.events__box {
  background: #fff;
  padding: 6rem 2rem;
  height: 100%;
  text-align: center;
  max-width: 422px;
  border-radius: .5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.events__box h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.events__box p {
  font-size: 1.6rem;
}

@media only screen and (max-width: 992px) {
  .events .col-md-6 {
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1280px) {
  .events .dec {
    width: 100%;
  }
}

.team {
  padding: 8rem 0;
}

.team h2 {
  margin-bottom: 4rem;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.team__item h4 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  min-width: 20px;
  font-size: 18px;
}

.team__item h4 span {
  font-weight: 200;
  font-size: 14px;
  color: #6B7280;
}

.team__item img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-right: 2rem;
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .team .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .team img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 2rem;
    width: 100%;
  }
}

.team img {
  width: 100%;
}
