.header{
    background-color: #EFF4FF;
    padding: 4rem 0 0 0;
    position: relative;
    
    
    &__main{
        padding-bottom: 5rem;
       .row{
        align-items: center;

       }
    }

    ul{
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        li{
            display: inline-block;
            &:not(:last-child){
                margin-right: 3rem;
            }
            a{
                font-size: 1.4rem;
                line-height: 2.2rem;
                color: #000;
                transition: color .3s linear;

                &:hover, &:focus, &:active{
                    color: #FE3D3A;
                }

            }
        }
    }

    &__button{
        text-align: right;
      a:not(:last-child){
margin-right: 2rem;
      }

      .logo {
        &__img{
            width: 160px;
            height: 48px;
        }
      }

    }


    .hero{
        position: relative;
        z-index: 999;
        &__block{
            max-width: 57rem;
            padding: 1.5rem;

            h1{
                
                font-size: 4rem;
                line-height: 6rem;
                font-weight: 300;

                @media only screen and (max-width: 767px){
                    br{
                        display: none !important;
                    }
                    font-size: 3rem;
                    line-height: 4.2rem;
                }
                b{
                    font-weight: bold;
                }

                
            }

            p{
                font-size: 1.6rem;
                line-height: 2.4rem;
                margin-top: 1rem;
                margin-bottom: 2rem;
            }

        }
        &__button{
            a:not(:last-child){
               margin-right: 2rem;
               @media only screen and (max-width:480px){
                margin-right: 0px;
               
            }
            }

            @media only screen and (max-width:480px){
                display: flex;
                flex-direction: column;
                gap: 2rem;
                text-align: center;
            }

        }
        &__img{
            max-width: 53.6rem;
            width: 100%;
            height: auto;
        }
    }

    .shape {
        width: 100%;
        position: absolute;
        height: 180px;
        background: #fff;
        // clip-path: polygon(1% 56%, 100% 0, 100% 100%, 0% 100%);        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 10;
        clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    }
    ul.navbar-nav.ml-auto {
        flex: 2;
        justify-content: center;
    }

    .bg-light{
        background: transparent !important;
    }
    a.navbar-brand {
        margin-right: 0px !important;
    }
@media only screen and (max-width: 992px){
    ul.navbar-nav.ml-auto {
        background: #fff;
        margin-top: 10px;
    }
    
    ul.navbar-nav.ml-auto li a {
        padding: 10px !important;
    }
    
    ul.navbar-nav.ml-auto li {
        padding: 10px;
        margin: 0px !important;
        text-align: left;
        border-bottom: 1px solid #fafafa;
    }
    
    ul.navbar-nav.ml-auto li a {
        font-size: 18px;
        text-align: left !important;
    }
    
    ul.navbar-nav.ml-auto li:hover a {
        color: #fff !important;
    }
    
    ul.navbar-nav.ml-auto li:hover {
        background: #ee4e34 !important;
    }

    .navbar{
        margin-bottom: 3rem;
    }

    &__button a {
        display: block;
        background: #fff;
        border-radius: 0px;
        margin: 0px !important;
        color: #000;
        text-align: left;
        font-size: 16px;
        border-bottom: 1px solid #fafafa;
    }
    a.button.button-plain:hover{
        background:#ee4e34;
        color: #fff;
    }
}

}